[Desktop Entry]
Type=Application
Version=1.0
Name=TunnelYard
Comment=OpenFortiVPN control desk
Comment[pt_BR]=Mesa de controle OpenFortiVPN
Exec=tunnel-yard
Icon=tunnel-yard
Terminal=false
Categories=Network;Security;
StartupNotify=true
StartupWMClass=lucas.cavalheri.tunnelyard
